h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-size: 16pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

.header {
    text-align: center;
    font-weight: bold;
}

.lead {
    text-align: center;
}

body {
    background-color: rgb(252, 248, 248)
}
#table1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1pt;
    border-style: double;
    box-shadow: 4px;
}